@model BarViewModel
@{
    ViewBag.Title = Model.Name;
    ViewBag.BarId = Model.Id;
}

<div class="row">
    <div class="col-md-4">
        <h2>@Model.Name</h2>

        <div class="lead">
            <img src="@Model.Image" alt="@Model.Name" />
        </div>
        <p class="lead"><strong>Address:</strong> @Model.Address</p>
        <p class="lead"><strong>Region:</strong> @Model.Region</p>
        @Html.Partial("_AddReviewPartial", new AddReviewViewModel())
    </div>
    <div class="col-md-offset-7 reviews-container">
        <h3>Reviews</h3>
        @if (Model.Reviews.Count != 0)
        {
            <div id="reviews">
                @Html.Partial("_ReviewsPartial", Model.Reviews)
            </div>
        }
        else
        {
            <p>No reviews yet. Be the first one to leave your impression.</p>
        }
    </div>
</div>
<script>
    function clearInputFields() {
        $("#title").val("");
        $("#text").val("");
    }

    function validateForm() {
        return $('#reviewForm').validate().form();
    }
</script>



